<mat-card style="width: auto;" class="back">
<!-- <div class="row">
    <div class="text-center" style="width: 100%;margin: 20px;">
      <h4>Angular 7 Email/ Password & Google Login Using Firebase Demo</h4>
    </div>
    <div class="" style="width: 500px; margin: auto">
  
      <div class="card" *ngIf = displayLoginDetails> -->
        <!-- When Uses is Not Logged In -->
        <!-- <div class="card-body" *ngIf="!userDetails">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="btn-group">
                <button type="button" class="btn" [ngClass]="{'btn-primary
                  active': selectedVal == 'login' }"
                  (click)="onValChange('login')"><strong>Login</strong></button>
                <button type="button" class="btn" [ngClass]="{'btn-primary
                  active': selectedVal == 'register' }"
                  (click)="onValChange('register')"><strong>Register</strong></button>
              </div>
  
            </div>
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="emailInput"
              id="email" placeholder="Email">
          </div>
          <div class="form-group" *ngIf="!isForgotPassword">
            <label for="password">Password</label>
            <input type="password" class="form-control"
              [(ngModel)]="passwordInput" id="password" placeholder="Password">
          </div>
          <div class="form-group" *ngIf="!isForgotPassword">
  
            <span *ngIf="selectedVal == 'login'; else elseBlock">
              <button type="button" class="btn btn-primary" (click)="loginUser()">Log
                In</button>
            </span>
            <ng-template #elseBlock>
              <button type="button" class="btn btn-primary"
                (click)="registerUser()">Register</button>
            </ng-template>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="javascript:void(0)" (click)="this.isForgotPassword= true;">Forgot
              Password?</a>
  
          </div>
          <div class="form-group" *ngIf="isForgotPassword">
  
            <button type="button" class="btn" (click)="this.isForgotPassword=
              false;">Cancel</button>
            <button type="button" class="btn btn-primary"
              (click)="forgotPassword()">Get email to reset passowrd</button>
          </div>
          <div class="form-group text-center">
            <img src="../assets/images/google_btn.png" alt="" srcset=""
              (click)="googleLogin()" style="cursor: pointer;">
          </div>
  
        </div> -->
  
        <!-- When Uses is Logged In using Email or Google Account -->
        <!-- <div class="card-body" *ngIf="userDetails">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Display Name:
                  {{userDetails['displayName']}}</li>
                <li class="list-group-item">Email: {{userDetails['email']}}</li>
                <li class="list-group-item">Is Email Varified:
                  {{userDetails['emailVerified']}}</li>
                <li class="list-group-item">
                  <button type="button" class="btn btn-danger"
                    (click)="logoutUser()">Logout</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



      <div class="alert alert-{{responseMessageType}}" role="alert"
        *ngIf="responseMessage.length">
        {{responseMessage}}
      </div>

      <div class="card" *ngIf="!displayLoginDetails">
      <button>nes</button>
      </div>
    </div>
  </div> -->
  
  <div *ngIf = "!dashboard">
   <!-- email<input type="email"  [(ngModel)]="emailInput">
  password<input  [(ngModel)]="passwordInput" >

    <button (click)="loginUser()">Login</button> -->

        <div *ngIf = "!register">
          <h2>Login Page</h2><br>
    <div class="login" >    
      
    <form id="login" method="get" action="login.php">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username"  [(ngModel)]="emailInput">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password" [(ngModel)]="passwordInput">    
        <br><br>

        <input type="button" name="log" id="log" value="Log In Here" (click)="loginUser()">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
       <!-- Forgot <a href="#">Password</a>     -->
       <input type="button" name="register" value="REGISTER Here" (click)="goregister()">       
    </form>     
</div> </div>

<div *ngIf = "register">
  <h2>Register Page</h2><br> 
<div class="login" >   

  <form id="login" method="get" >    
      <label><b>User Name     
      </b>    
      </label>    
      <input type="text" name="Uname" id="Uname" placeholder="Username"  [(ngModel)]="emailInput">    
      <br><br>    
      <label><b>Password     
      </b>    
      </label>    
      <input type="Password" name="Pass" id="Pass" placeholder="Password" [(ngModel)]="passwordInput">    
      <br><br>    

      <input type="Password" name="Pass1" id="Pass1" placeholder="Password" >    
      <br><br> 

      <input type="button" name="register" id="log" value="Register" (click)="registerUser()">       
      <br><br>    
      <input type="checkbox" id="check">    
      <span>Remember me</span>    
      <br><br>    
     <!-- Forgot <a href="#">Password</a>     -->
     <input type="button" name="register" value="BACK TO LOG IN " (click)="gologin()">       
  </form>     
</div>  </div>  
  </div>

 
 
  
  <div  *ngIf = "dashboard" >
    
      <mat-toolbar>
      
        <span>My App</span>
        <span class="example-spacer"></span>
        <button matTooltip="log out" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)=logoutUser()>
        <mat-icon>account_circle</mat-icon>
        </button>
        
      </mat-toolbar>
    <mat-tab-group>
      <mat-tab label="ADMIN" style="color: beige !important;">
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
     
<mat-card  *ngFor="let loan of loans; let i = index" (click)="update(loan)">

  <!-- <mat-form-field appearance="outline" min-width="100%" disabled> -->
<table >
  <tr style="width: 100%;"><td style="width: 500px;"> name :  <mat-label style="font-family: 'Courier New', Courier, monospace;font-size: large;">{{loan.name}}</mat-label></td>
  <td></td><td style="width: 500px;"> phone :  <mat-label >{{loan.phone}}</mat-label></td></tr>

  <tr><td style="width: 500px;"> amount :   <mat-label >{{loan.amount}}</mat-label></td><td></td>
    <td style="width: 500px;">parts : <mat-label >{{loan.amount}}</mat-label></td></tr>
  <tr><td></td>
    <td></td></tr>
</table>

  
    <!-- <input type="number" matInput   formControlName="value" [(ngModel)]="loan.name" > -->
  <!-- </mat-form-field> -->

</mat-card>


        <!-- <h4>Tutorials List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let loan of loans; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveLoan(loan, i)"
      >
        {{ loan.name }}
      </li>
    </ul> -->


  </div>

  <!-- <div class="col-md-6">
    <div *ngIf="currentLoan">
      <app-tutorial-details
        (refreshList)="refreshList()"
        [loan]="currentLoan"
      ></app-tutorial-details>
    </div>

    <div *ngIf="!currentLoan">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
</div> -->

<div  fxLayout="column" fxLayoutGap="20px" >
<!-- <button mat-raised-button color="primary" style="align-self: center;">NEW LOAN
  <mat-icon>queue</mat-icon></button> -->

  <button mat-raised-button color="primary" style="width: 60%;align-self: center;margin: 20px;" aria-label="Example icon button with a delete icon" class="button1" (click)="openDialog()">NEW LOAN
    <mat-icon class="icon1">queue</mat-icon>
  </button>
</div>

<div></div>
</mat-tab>

<mat-tab label="DASHBOARD">

  <div  fxLayout="row" fxLayoutGap="10px" >
<mat-card  class="card">
<h1 style="text-align: center; font-size: 40;">SUM <br> {{loans.length}}</h1> 
</mat-card>
<mat-card  class="card">
  <h1 style="text-align: center; font-size: 40;">SUM <br> {{loans.length}}</h1> 
  </mat-card>

</div>
</mat-tab>
</mat-tab-group>
  </div>
</mat-card>