.mat-card {
    padding: 20px !important;
    width: 70%;
    align-self: center;
    padding-bottom: 0px !important;
 box-shadow: black;
    text-align: left !important;
  }
  
  .login{  
    width: 450px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: rgb(1, 97, 97);  
    border-radius: 15px ;  
      
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#Pass1{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
    }  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  
}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
float: right;  
background-color: grey;  
}  

.mat-toolbar{
    background-color: rgb(8, 106, 119);
    margin-bottom: 10px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.card{
    background-color: lightblue;
    width: 200px;
    height: 200px;
text-align: center;
margin: 20px;

}

.button1{
    margin-bottom: 20px;
    margin-top: 10px;
}

.back {
    /* The image used */
    background-image: url("/assets/images/image.jpeg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  