<mat-card>
    <mat-toolbar>
        UPDATE LOAN
        <div fxFlex></div>
    <mat-icon class="mat-close-button" (click)="closeComment()">close</mat-icon>
    </mat-toolbar>
    
    <form [formGroup]="newForm">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
    
            <mat-form-field appearance="outline" min-width="100%">
                <mat-label>NAME</mat-label>
                <input type="text" matInput   formControlName="name" [(ngModel)]="loan.name">
              </mat-form-field>
    
              <mat-form-field appearance="outline" min-width="100%">
                <mat-label>PHONE</mat-label>
                <input type="text" matInput   formControlName="phone" [(ngModel)]="loan.phone">
              </mat-form-field>
        
              <mat-form-field appearance="outline" min-width="100%">
                <mat-label>ADDRESS</mat-label>
                <input type="text" matInput   formControlName="address">
              </mat-form-field>
    
              <mat-form-field appearance="outline" min-width="100%">
                <mat-label>AMOUNT</mat-label>
                <input type="number" matInput   formControlName="amount" [(ngModel)]="loan.amount">
              </mat-form-field>
    
              <!-- <mat-form-field appearance="outline">
                <mat-label>Item</mat-label>
                <mat-select formControlName="parts">
                  <mat-option *ngFor="let item of List" [value]="item">{{item}}</mat-option>
                 
                </mat-select>
              </mat-form-field> -->
      
              <!-- <button style="width: 30%;" mat-raised-button color="primary" >Check **WARIKA***</button> -->
    
              <mat-form-field appearance="outline" min-width="100%" disabled>
                <mat-label>VALUE</mat-label>
                <input type="number" matInput   formControlName="value">
              </mat-form-field>
    
              <button mat-raised-button color="primary" (click)="updateLoan()" >EDIT LOAN</button>
              <button mat-raised-button color="primary" (click)=" deleteloan()">DELETE LOAN</button>
          </div></form>
        </mat-card>